@model IEnumerable<Places.BLL.DTO.UserDTO>

@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Full Name</th>
        <th>Role</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.Full_name</td>
            <td>@user.Role</td>
        </tr>
    }
    </tbody>
</table>