@model Places.BLL.DTO.ReviewDTO
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Додати відгук";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Додати відгук</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Content" class="control-label">Зміст</label>
        <textarea asp-for="Content" class="form-control"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="PlaceId" class="control-label">Місце</label>
        <select asp-for="PlaceId" class="form-control">
            @foreach (var place in ViewBag.Places)
            {
                <option value="@place.Id">@place.Name</option>
            }
        </select>
        <span asp-validation-for="PlaceId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Створити" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Назад до списку</a>
    </div>
</form>