@page
@model Places.WebAPI.Views.Home.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h1>Welcome to Places App</h1>
    <p>Navigate to different sections using the menu.</p>
</div>
</body>
</html>