@model Places.BLL.DTO.QuestionDTO
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Редагувати питання";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Редагувати питання</h2>
<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Content" class="control-label">Зміст</label>
        <input asp-for="Content" class="form-control" />
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="PlaceId" class="control-label">Місце</label>
        <select id="PlaceId" name="PlaceId" class="form-control">
            @foreach (var place in ViewBag.Places)
            {
                <option value="@place.Id" selected="@(place.Id == Model.PlaceId ? "selected" : "")">@place.Name</option>
            }
        </select>
    </div>
    @Html.AntiForgeryToken()
    <div class="form-group">
        <input type="submit" value="Зберегти" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Назад до списку</a>
    </div>
</form>